<%= form_for(rope) do |f| %>
  <% if rope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rope.errors.count, "error") %> prohibited this rope from being saved:</h2>

      <ul>
      <% rope.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nom, style: 'font-family: Oswald, sans-serif; color: white; padding-bottom: 10px;'  %>
    <%= f.text_field :Name, style: 'text-align: center', class: 'champs', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Corde, style: 'font-family: Oswald, sans-serif; color: white; padding-bottom: 10px;' %>
    <%= f.text_area :Rope, style: 'height: 100px; width: 400px;', class: 'champs', autofocus: true %>
  </div>

<div class="option">
    <%= f.submit 'Tendre une corde', class:'create' %>
  </div>

<% end %>
