<body class="ropes">
    <p id="notice"><%= notice %></p>
    <div class="disconnect_link">
        <%= link_to image_tag("out.png", style:'height: 30px;'), destroy_user_session_path, method: :delete %>
    </div>
    <h1>ROPES</h1>
<p class="intro"><em>Echangez des phrases de soutien et semez du bonheur</em></p>
        <% @ropes.each do |rope| %>

        <div class="rope">
            <%= rope.Rope %>
        </br>
    </br>
    <em>by
    </em>
    <%= rope.Name %>
    <div class="option">
        <%= link_to image_tag("eye.png", style:'height: 20px;'), rope, style:'padding: 10px;' %>
        <%= link_to image_tag("pencil.png", style:'height: 20px;'), edit_rope_path(rope), style:'padding: 10px;' %>
        <%= link_to image_tag("trash.png", style:'height: 20px;'), rope, method: :delete, data: { confirm: 'Voulez vous supprimer cette corde ?' }, style:'padding: 10px;' %>
    </div>
</div>
<% end %>

<br>
</div>
<div class="new_rope_link">
<%= link_to 'Nouvelle Rope', new_rope_path, style: 'vertical-align:center;color:white;'%>
</div>
</body>
